h1 {
	color:darkred;
}

figcaption{
	color: grey;
}

footer{
	color: grey;
}

h2{
	color:darkred;
}

link{
	color:darkred;
}

img {
	background: url(beets.jpg) no-repeat center;
}

ul{
	color: darkred;

}
