html{
	background-color:grey;
}

.background {
	background-color: white;
	border: 1px solid;
	border-radius: 10px;
	margin:50%;
	width:50%;
}

h1 {
	color:darkred;
}

figcaption{
	color: grey;
	border: lightgrey;
}

blockquote{
	border:lightgrey;
}

footer{
	color: grey;
}

h2{
	color:darkred;
}

link{
	color:darkred;
}

img {
	width: 100%;
}

ul{
	color: darkred;
	border: 1px solid darkred;
	overflow: hidden;
	background-color:pink;
	text-decoration: none;
}

dt{
	float: left;
	clear: left;
	width: 8em;
}

dd{
	float: left;
	margin: 0;
	padding: 0;
}

dl{
	border: 1px solid red;
	overflow: hidden;
}
