.background {
	width:500px;
	border: solid, thin, black, 2px;
}

h1 {
	color:darkred;
}

figcaption{
	background-color:lightgrey;
	color: grey;
}

blockquote{
	background-color:lightgrey;
}

footer{
	color: grey;
}

h2{
	color:darkred;
}

link{
	color:darkred;
}

img {
	width: 500px;
}

ul{
	color: darkred;
	border: darkred, solid, thin, 0.1px;
	background-color:pink;
}

dt{
	float: left;
}

dd{
	float: left;
}
